@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#output{
    border:1px solid black;
    height:10vh;
    width:80%;
    margin:1rem;
    padding: 1rem;

}

#txt-input{
    border:1px solid black;
    height:10vh;
    width:80%;
    margin:1rem;
    padding: 1rem;

}
body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;

}
#ho{
     margin-block-start: 0em; 
    margin-block-end: 0em;
}

#btn-translate{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding:0.3rem 2rem;
    font-size: large;
}

.outcont{
    
    margin:auto;
    max-width: 600px; 
    margin-top: 2.25rem;
}

.incont{
    /* margin:auto; */
    /* max-width: 300px; */
    text-align: center;
}

.topcont{
    background-color: yellow;
    height:130px;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    /* align-items: center; */
}
.topcontcenter{
    /* display: block; */
    margin:auto;
    text-align: center;
    max-width: 600px;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 2rem 1rem;
    
}
.bottomcontcenter{
    margin:auto;
    max-width: 900px;
    text-align: center;
}


.bottomcont{
    display: block;
    position: absolute;
    bottom:0;
    background-color: yellow;
    width: 100%;
}

h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
}



